@-moz-document domain("soundcloud.com") {
  /* generated soundcloud.com rules */
  body {
    background: var(--bg-img);
    background-attachment: fixed;
    background-repeat: repeat !important;
    background-size: auto !important;
    background-position: left top !important;
  }
  .sc-truncate {
    color: var(--lighter) !important;
  }
  .sc-truncate:hover {
    color: var(--lighter) !important;
  }
  .sc-button {
    color: var(--lighter);
    border-color: var(--darker);
    background-color: var(--dark);
  }
  .sc-button:hover {
    color: var(--light);
    border-color: 0;
    background-color: var(--darker);
  }
  .insightsSidebarModule__title {
    color: var(--light);
  }
  .mixedSelectionModule__titleText {
    color: var(--light);
  }
  .sound__soundActions {
    background: none !important;
  }
  /* Down Bar */
  .playControls__inner, .playControls__bg {
    color: var(--lighter);
    border-color: var(--darker);
    background-color: var(--dark);
    border-top: 1px solid var(--accent) !important;
  }
  .playControls__elements {
    color: var(--lighter);
    border-color: var(--darker);
    background-color: var(--dark);
  /* border-top: 1px solid var(--accent) !important; */
  }
  .playControls__timeline > .playbackTimeline__duration {
    color: var(--light);
  }
  .playControls__volume > .volume__sliderWrapper {
    color: var(--lighter);
    border-color: var(--darker);
    background-color: var(--dark);
  }
  .playControls__play {
    background-image: url(--svg-pause);
  }
  .playControls__play.playing {
    background-image: url(--svg-play);
  }
  .playControls__next {
    background-image: url(--svg-next);
  }
  .playbackTimeline__duration {
    color: var(--accent);
  }
}
